{
 :source-dir  "dev/set/styles"
 :var         set.styles.main/screen
 :output-file "resources/public/css/set.css"
 :flags       {:pretty-print? true
               :vendors       ["webkit" "moz" "o"]}
 }
